Django==4.2.16
dj-database-url==2.3.0
gunicorn==23.0.0
whitenoise==6.7.0
psycopg2-binary==2.9.12
python-decouple==3.8
requests==2.32.3
numpy==1.26.4
opencv-python-headless==4.8.1.78
matplotlib==3.8.4
mediapipe==0.10.14
openai==2.46.0
groq==1.5.0
python-dateutil==2.9.0.post0
pillow==10.4.0
sqlparse==0.5.5
asgiref==3.12.1